.clientService-content{
    margin-top:10px;
}

.show-clientService button{
    float: right;
    margin-left: 10px;
    margin-top: -5px;
}

.show-clientService .alert-info{
    margin-top: 10px;
}

.count-list{
}

.shared-text
{
    font-size: 11px;
    background-color: orange;
    color: white;
    padding: 3px;
    position: absolute;
    right: 10px;
}

.Add-New-Area .row{
  margin-bottom:5px;
  padding:0px 10px 0px 10px
}

.addnewclientrecord{
  padding: 20px;
}

.client-service-detail .fieldset-stripped{
  padding: 8px;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: lightblue;
    }

    .show-clientService button{
        float: none;
        margin-top: 10px;
    }
}
